<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRnVThJc--WGQBXAhFpLQvl5uqm6s99IM</string>
	<key>GCM_SENDER_ID</key>
	<string>472051513894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sluiba.shoppingtogether</string>
	<key>PROJECT_ID</key>
	<string>shoppingtogether-cf51a</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppingtogether-cf51a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472051513894:ios:5edf518942ec89497904e7</string>
</dict>
</plist>